{
  "openapi": "3.1.0",
  "info": {
    "title": "API ENDPOINTS",
    "version": "1.0",
    "description": "Shopier REST API OpenAPI Specification document",
    "contact": {
      "name": "Shopier Support",
      "url": "developer.shopier.com",
      "email": "hello@shopier.com"
    }
  },
  "servers": [
    {
      "url": "https://api.shopier.com/v1/",
      "description": "prod"
    }
  ],
  "tags": [
    {
      "name": "Balance"
    },
    {
      "name": "Categories"
    },
    {
      "name": "Discounts"
    },
    {
      "name": "Orders"
    },
    {
      "name": "Payouts"
    },
    {
      "name": "Products"
    },
    {
      "name": "Refunds"
    },
    {
      "name": "Selections"
    },
    {
      "name": "Shippings"
    },
    {
      "name": "Shop"
    },
    {
      "name": "Variations"
    },
    {
      "name": "Webhooks"
    }
  ],
  "paths": {
    "/products": {
      "get": {
        "summary": "List all products",
        "tags": [
          "Products"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "title": "Product",
                    "type": "object",
                    "description": "Product model.",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The ID of the product."
                      },
                      "title": {
                        "type": "string",
                        "description": "Title of the product."
                      },
                      "description": {
                        "type": "string",
                        "description": "Detailed description of the product."
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "physical",
                          "digital"
                        ],
                        "description": "Type of the product."
                      },
                      "dateCreated": {
                        "type": "string",
                        "description": "The date and time of the initial product listing. yyyy-MM-ddTHH:mm:ssZ format is used (e.g., 2022-07-21T13:24:51+0300)."
                      },
                      "dateUpdated": {
                        "type": "string",
                        "description": "The date and time of the product update. yyyy-MM-ddTHH:mm:ssZ format is used (e.g., 2022-07-21T13:24:51+0300)."
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL of the product. \n(e.g., https://www.shopier.com/696547)"
                      },
                      "media": {
                        "type": "array",
                        "description": "Details of product media files.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The ID of media file."
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "image"
                              ],
                              "description": "Type of media file."
                            },
                            "url": {
                              "type": "string",
                              "description": "The URL of media file.\n(e.g., https://dmih5ui1qqea9.cloudfront.net/pictures_large/Camiseta6855_cobalt-blue-t-shirt.jpg)"
                            },
                            "placement": {
                              "type": "integer",
                              "description": "Ranking of the media file in product pages. Returns \"1\" for the primary media file.",
                              "minimum": 1,
                              "multipleOf": 1,
                              "maximum": 5
                            }
                          }
                        }
                      },
                      "priceData": {
                        "type": "object",
                        "description": "Details of the price information.",
                        "properties": {
                          "currency": {
                            "type": "string",
                            "enum": [
                              "TRY",
                              "USD",
                              "EUR"
                            ],
                            "description": "Currency of the product."
                          },
                          "price": {
                            "type": "string",
                            "description": "Unit price of the product."
                          },
                          "discount": {
                            "type": "boolean",
                            "description": "Represents whether there is a product based discount."
                          },
                          "discountedPrice": {
                            "type": "string",
                            "description": "Discounted price of the product."
                          },
                          "shippingPrice": {
                            "type": "string",
                            "description": "Shipping price of the product."
                          }
                        }
                      },
                      "stockStatus": {
                        "type": "string",
                        "enum": [
                          "inStock",
                          "outOfStock"
                        ],
                        "description": "Current stock status of the product."
                      },
                      "stockQuantity": {
                        "type": "integer",
                        "description": "Current stock quantity of the product."
                      },
                      "shippingPayer": {
                        "type": "string",
                        "enum": [
                          "sellerPays",
                          "buyerPays"
                        ],
                        "description": "Represents who pays for shipping during dispatch or delivery."
                      },
                      "categories": {
                        "type": "array",
                        "description": "List of categories that product belongs to.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The ID of category."
                            },
                            "title": {
                              "type": "string",
                              "description": "The title of category."
                            }
                          }
                        }
                      },
                      "variants": {
                        "type": "array",
                        "description": "List of variants of the product.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "variationId": {
                              "type": "array",
                              "description": "The ID of variation.",
                              "items": {
                                "type": "string"
                              }
                            },
                            "variationTitle": {
                              "type": "array",
                              "description": "The title of variation.",
                              "items": {
                                "type": "string"
                              }
                            },
                            "selectionId": {
                              "type": "array",
                              "description": "The ID of selection.",
                              "items": {
                                "type": "string"
                              }
                            },
                            "selectionTitle": {
                              "type": "array",
                              "description": "The title of selection.",
                              "items": {
                                "type": "string"
                              }
                            },
                            "stockStatus": {
                              "type": "string",
                              "enum": [
                                "inStock",
                                "outOfStock"
                              ],
                              "description": "Current stock status of the variant."
                            },
                            "stockQuantity": {
                              "type": "integer",
                              "description": "Current stock quantity of the variant."
                            },
                            "media": {
                              "type": "array",
                              "description": "Details of variant media files. Currently variant has a maximum of one media file.",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "The ID of media file."
                                  },
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "image"
                                    ],
                                    "description": "Type of media file."
                                  },
                                  "url": {
                                    "type": "string",
                                    "description": "The URL of media file.\n(e.g., https://dmih5ui1qqea9.cloudfront.net/pictures_large/Camiseta6855_cobalt-blue-t-shirt.jpg)"
                                  }
                                }
                              }
                            },
                            "priceData": {
                              "type": "object",
                              "description": "Details of the price information for the variant.",
                              "properties": {
                                "currency": {
                                  "type": "string",
                                  "enum": [
                                    "TRY",
                                    "USD",
                                    "EUR"
                                  ],
                                  "description": "Currency of the variant."
                                },
                                "price": {
                                  "type": "string",
                                  "description": "Unit price of the variant."
                                }
                              }
                            },
                            "primary": {
                              "type": "boolean",
                              "description": "Represents the primary variant. Only one variant can be primary."
                            }
                          }
                        }
                      },
                      "options": {
                        "type": "array",
                        "description": "List of options of the product.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The ID of option."
                            },
                            "title": {
                              "type": "string",
                              "description": "The title of option."
                            },
                            "price": {
                              "type": "string",
                              "description": "The price of option."
                            }
                          }
                        }
                      },
                      "singleOption": {
                        "type": "boolean",
                        "description": "Represents whether a single option or multiple options can be selected during chekout."
                      },
                      "customListing": {
                        "type": "boolean",
                        "description": "Represents whether the listing is a custom or standard one."
                      },
                      "customNote": {
                        "type": "string",
                        "description": "Overrides the placeholder for note to seller field. Used for collecting a custom information from the buyer during checkout."
                      },
                      "placementScore": {
                        "type": "integer",
                        "minimum": 1,
                        "multipleOf": 1,
                        "description": "Placement score of the product. Products with higher values are placed first in the store."
                      },
                      "dispatchDuration": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 3,
                        "multipleOf": 1,
                        "description": "Dispatch duration in terms of days from seller to shipping company."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-products",
        "description": "Returns a list of products with the provided limit, paging, sorting and filters. By default, products are returned in sorted order, with the most recent product listings appearing first.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "dateStart",
            "description": "Show products listed at or after datetime. yyyy-MM-ddTHH:mm:ssZ format is used (e.g., 2022-07-21T13:24:51+0300)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "dateEnd",
            "description": "Show products listed at or before datetime. yyyy-MM-ddTHH:mm:ssZ format is used (e.g., 2022-07-25T13:24:51+0300)"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "physical",
                "digital"
              ]
            },
            "in": "query",
            "description": "Filter by a product type. ",
            "name": "productType"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "buyerPays",
                "sellerPays"
              ]
            },
            "in": "query",
            "description": "Filter by who pays for shipping. ",
            "name": "shippingPayer"
          },
          {
            "schema": {
              "type": "string",
              "items": {
                "type": "string"
              },
              "enum": [
                "inStock",
                "outOfStock"
              ]
            },
            "in": "query",
            "name": "stockStatus",
            "description": "Filter by a stock status."
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "in": "query",
            "description": "Filter by product categories by specifying category ID(s).",
            "name": "categoryId"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "in": "query",
            "description": "Filter by product selections by specifying selection ID(s).",
            "name": "selectionId"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "discount",
            "description": "Filter by products with discounts."
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "customListing",
            "description": "Filter by customized listings."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "multipleOf": 1,
              "default": 10
            },
            "description": "The maximum number of items to be returned in result set."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Current page of the collection."
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "dateDesc",
              "enum": [
                "dateAsc",
                "dateDesc"
              ]
            },
            "description": "Sort results by date. "
          }
        ]
      },
      "post": {
        "summary": "Create a product",
        "operationId": "post-products",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Product",
                  "type": "object",
                  "description": "Product model.",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the product."
                    },
                    "title": {
                      "type": "string",
                      "description": "Title of the product."
                    },
                    "description": {
                      "type": "string",
                      "description": "Detailed description of the product."
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "physical",
                        "digital"
                      ],
                      "description": "Type of the product."
                    },
                    "dateCreated": {
                      "type": "string",
                      "description": "The date and time of the initial product listing. yyyy-MM-ddTHH:mm:ssZ format is used (e.g., 2022-07-21T13:24:51+0300)."
                    },
                    "dateUpdated": {
                      "type": "string",
                      "description": "The date and time of the product update. yyyy-MM-ddTHH:mm:ssZ format is used (e.g., 2022-07-21T13:24:51+0300)."
                    },
                    "url": {
                      "type": "string",
                      "description": "The URL of the product. \n(e.g., https://www.shopier.com/696547)"
                    },
                    "media": {
                      "type": "array",
                      "description": "Details of product media files.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The ID of media file."
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "image"
                            ],
                            "description": "Type of media file."
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL of media file.\n(e.g., https://dmih5ui1qqea9.cloudfront.net/pictures_large/Camiseta6855_cobalt-blue-t-shirt.jpg)"
                          },
                          "placement": {
                            "type": "integer",
                            "description": "Ranking of the media file in product pages. Returns \"1\" for the primary media file.",
                            "minimum": 1,
                            "multipleOf": 1,
                            "maximum": 5
                          }
                        }
                      }
                    },
                    "priceData": {
                      "type": "object",
                      "description": "Details of the price information.",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "enum": [
                            "TRY",
                            "USD",
                            "EUR"
                          ],
                          "description": "Currency of the product."
                        },
                        "price": {
                          "type": "string",
                          "description": "Unit price of the product."
                        },
                        "discount": {
                          "type": "boolean",
                          "description": "Represents whether there is a product based discount."
                        },
                        "discountedPrice": {
                          "type": "string",
                          "description": "Discounted price of the product."
                        },
                        "shippingPrice": {
                          "type": "string",
                          "description": "Shipping price of the product."
                        }
                      }
                    },
                    "stockStatus": {
                      "type": "string",
                      "enum": [
                        "inStock",
                        "outOfStock"
                      ],
                      "description": "Current stock status of the product."
                    },
                    "stockQuantity": {
                      "type": "integer",
                      "description": "Current stock quantity of the product."
                    },
                    "shippingPayer": {
                      "type": "string",
                      "enum": [
                        "sellerPays",
                        "buyerPays"
                      ],
                      "description": "Represents who pays for shipping during dispatch or delivery."
                    },
                    "categories": {
                      "type": "array",
                      "description": "List of categories that product belongs to.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The ID of category."
                          },
                          "title": {
                            "type": "string",
                            "description": "The title of category."
                          }
                        }
                      }
                    },
                    "variants": {
                      "type": "array",
                      "description": "List of variants of the product.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "variationId": {
                            "type": "array",
                            "description": "The ID of variation.",
                            "items": {
                              "type": "string"
                            }
                          },
                          "variationTitle": {
                            "type": "array",
                            "description": "The title of variation.",
                            "items": {
                              "type": "string"
                            }
                          },
                          "selectionId": {
                            "type": "array",
                            "description": "The ID of selection.",
                            "items": {
                              "type": "string"
                            }
                          },
                          "selectionTitle": {
                            "type": "array",
                            "description": "The title of selection.",
                            "items": {
                              "type": "string"
                            }
                          },
                          "stockStatus": {
                            "type": "string",
                            "enum": [
                              "inStock",
                              "outOfStock"
                            ],
                            "description": "Current stock status of the variant."
                          },
                          "stockQuantity": {
                            "type": "integer",
                            "description": "Current stock quantity of the variant."
                          },
                          "media": {
                            "type": "array",
                            "description": "Details of variant media files. Currently variant has a maximum of one media file.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "The ID of media file."
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "image"
                                  ],
                                  "description": "Type of media file."
                                },
                                "url": {
                                  "type": "string",
                                  "description": "The URL of media file.\n(e.g., https://dmih5ui1qqea9.cloudfront.net/pictures_large/Camiseta6855_cobalt-blue-t-shirt.jpg)"
                                }
                              }
                            }
                          },
                          "priceData": {
                            "type": "object",
                            "description": "Details of the price information for the variant.",
                            "properties": {
                              "currency": {
                                "type": "string",
                                "enum": [
                                  "TRY",
                                  "USD",
                                  "EUR"
                                ],
                                "description": "Currency of the variant."
                              },
                              "price": {
                                "type": "string",
                                "description": "Unit price of the variant."
                              }
                            }
                          },
                          "primary": {
                            "type": "boolean",
                            "description": "Represents the primary variant. Only one variant can be primary."
                          }
                        }
                      }
                    },
                    "options": {
                      "type": "array",
                      "description": "List of options of the product.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The ID of option."
                          },
                          "title": {
                            "type": "string",
                            "description": "The title of option."
                          },
                          "price": {
                            "type": "string",
                            "description": "The price of option."
                          }
                        }
                      }
                    },
                    "singleOption": {
                      "type": "boolean",
                      "description": "Represents whether a single option or multiple options can be selected during chekout."
                    },
                    "customListing": {
                      "type": "boolean",
                      "description": "Represents whether the listing is a custom or standard one."
                    },
                    "customNote": {
                      "type": "string",
                      "description": "Overrides the placeholder for note to seller field. Used for collecting a custom information from the buyer during checkout."
                    },
                    "placementScore": {
                      "type": "integer",
                      "minimum": 1,
                      "multipleOf": 1,
                      "description": "Placement score of the product. Products with higher values are placed first in the store."
                    },
                    "dispatchDuration": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 3,
                      "multipleOf": 1,
                      "description": "Dispatch duration in terms of days from seller to shipping company."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Creates a new product.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "title",
                  "type",
                  "media",
                  "priceData",
                  "shippingPayer"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Title of the product."
                  },
                  "description": {
                    "type": "string",
                    "description": "Detailed description of the product."
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "physical",
                      "digital"
                    ],
                    "description": "Type of the product."
                  },
                  "media": {
                    "type": "array",
                    "description": "Details of product media files. There can be a maximum of 5 media files.",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "url",
                        "placement"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "image"
                          ],
                          "description": "Type of media file."
                        },
                        "url": {
                          "type": "string",
                          "description": "The URL of media file. Formats supported: jpg, jpeg, png, bmp."
                        },
                        "placement": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 5,
                          "multipleOf": 1,
                          "description": "Ranking of the media file in product pages. Send \"1\" for the primary media file."
                        }
                      }
                    }
                  },
                  "priceData": {
                    "type": "object",
                    "description": "Details of the price information.",
                    "required": [
                      "currency",
                      "price"
                    ],
                    "properties": {
                      "currency": {
                        "type": "string",
                        "enum": [
                          "TRY",
                          "USD",
                          "EUR"
                        ],
                        "description": "Currency of the product."
                      },
                      "price": {
                        "type": "string",
                        "description": "Unit price of the product."
                      },
                      "discount": {
                        "type": "boolean",
                        "description": "Represents whether there is a product based discount."
                      },
                      "discountedPrice": {
                        "type": "string",
                        "description": "Discounted price of the product."
                      },
                      "shippingPrice": {
                        "type": "string",
                        "description": "Shipping price of the product."
                      }
                    }
                  },
                  "stockQuantity": {
                    "type": "integer",
                    "description": "Stock quantity of the product."
                  },
                  "shippingPayer": {
                    "type": "string",
                    "enum": [
                      "sellerPays",
                      "buyerPays"
                    ],
                    "description": "Represents who pays for shipping during dispatch or delivery."
                  },
                  "categories": {
                    "type": "array",
                    "description": "List of categories that product belongs to.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "categoryId": {
                          "type": "string",
                          "description": "The ID of category."
                        }
                      }
                    }
                  },
                  "variants": {
                    "type": "array",
                    "description": "List of variants of the product.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "selectionId": {
                          "type": "array",
                          "description": "The ID of selection.",
                          "items": {
                            "type": "string"
                          }
                        },
                        "stockQuantity": {
                          "type": "integer",
                          "description": "Stock quantity of the variant."
                        },
                        "media": {
                          "type": "array",
                          "description": "Details of variant media files. Currently there can be a maximum of 1 media file.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "image"
                                ],
                                "description": "Type of media file."
                              },
                              "url": {
                                "type": "string",
                                "description": "The URL of media file. Formats supported: jpg, jpeg, png, bmp."
                              }
                            }
                          }
                        },
                        "priceData": {
                          "type": "object",
                          "description": "Details of the price information for the variant.",
                          "properties": {
                            "currency": {
                              "type": "string",
                              "description": "Currency of the variant.",
                              "enum": [
                                "TRY",
                                "USD",
                                "EUR"
                              ]
                            },
                            "price": {
                              "type": "string",
                              "description": "Unit price of the variant."
                            }
                          }
                        },
                        "primary": {
                          "type": "boolean",
                          "description": "Represents the primary variant. Only one variant can be primary."
                        }
                      }
                    }
                  },
                  "options": {
                    "type": "array",
                    "description": "List of options of the product. There can be a maximum of 3 options.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "optionId": {
                          "type": "string",
                          "description": "The ID of option."
                        },
                        "optionTitle": {
                          "type": "string",
                          "description": "The title of option."
                        },
                        "optionPrice": {
                          "type": "string",
                          "description": "The price of option."
                        }
                      }
                    }
                  },
                  "singleOption": {
                    "type": "boolean",
                    "description": "Represents whether a single option or multiple options can be selected during chekout."
                  },
                  "customListing": {
                    "type": "boolean",
                    "description": "Represents whether the listing is a custom or standard one."
                  },
                  "customNote": {
                    "type": "string",
                    "description": "Overrides the placeholder for note to seller field. Used for collecting a custom information from the buyer during checkout."
                  },
                  "placementScore": {
                    "type": "integer",
                    "minimum": 1,
                    "multipleOf": 1,
                    "description": "Placement score of the product. Products with higher values are placed first in the store."
                  },
                  "dispatchDuration": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 3,
                    "multipleOf": 1,
                    "description": "Dispatch duration in terms of days from seller to shipping company."
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Products"
        ]
      }
    },
    "/products/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Specify the product ID to retrieve the product."
        }
      ],
      "get": {
        "summary": "Get a product",
        "tags": [
          "Products"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Product",
                  "type": "object",
                  "description": "Product model.",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the product."
                    },
                    "title": {
                      "type": "string",
                      "description": "Title of the product."
                    },
                    "description": {
                      "type": "string",
                      "description": "Detailed description of the product."
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "physical",
                        "digital"
                      ],
                      "description": "Type of the product."
                    },
                    "dateCreated": {
                      "type": "string",
                      "description": "The date and time of the initial product listing. yyyy-MM-ddTHH:mm:ssZ format is used (e.g., 2022-07-21T13:24:51+0300)."
                    },
                    "dateUpdated": {
                      "type": "string",
                      "description": "The date and time of the product update. yyyy-MM-ddTHH:mm:ssZ format is used (e.g., 2022-07-21T13:24:51+0300)."
                    },
                    "url": {
                      "type": "string",
                      "description": "The URL of the product. \n(e.g., https://www.shopier.com/696547)"
                    },
                    "media": {
                      "type": "array",
                      "description": "Details of product media files.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The ID of media file."
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "image"
                            ],
                            "description": "Type of media file."
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL of media file.\n(e.g., https://dmih5ui1qqea9.cloudfront.net/pictures_large/Camiseta6855_cobalt-blue-t-shirt.jpg)"
                          },
                          "placement": {
                            "type": "integer",
                            "description": "Ranking of the media file in product pages. Returns \"1\" for the primary media file.",
                            "minimum": 1,
                            "multipleOf": 1,
                            "maximum": 5
                          }
                        }
                      }
                    },
                    "priceData": {
                      "type": "object",
                      "description": "Details of the price information.",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "enum": [
                            "TRY",
                            "USD",
                            "EUR"
                          ],
                          "description": "Currency of the product."
                        },
                        "price": {
                          "type": "string",
                          "description": "Unit price of the product."
                        },
                        "discount": {
                          "type": "boolean",
                          "description": "Represents whether there is a product based discount."
                        },
                        "discountedPrice": {
                          "type": "string",
                          "description": "Discounted price of the product."
                        },
                        "shippingPrice": {
                          "type": "string",
                          "description": "Shipping price of the product."
                        }
                      }
                    },
                    "stockStatus": {
                      "type": "string",
                      "enum": [
                        "inStock",
                        "outOfStock"
                      ],
                      "description": "Current stock status of the product."
                    },
                    "stockQuantity": {
                      "type": "integer",
                      "description": "Current stock quantity of the product."
                    },
                    "shippingPayer": {
                      "type": "string",
                      "enum": [
                        "sellerPays",
                        "buyerPays"
                      ],
                      "description": "Represents who pays for shipping during dispatch or delivery."
                    },
                    "categories": {
                      "type": "array",
                      "description": "List of categories that product belongs to.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The ID of category."
                          },
                          "title": {
                            "type": "string",
                            "description": "The title of category."
                          }
                        }
                      }
                    },
                    "variants": {
                      "type": "array",
                      "description": "List of variants of the product.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "variationId": {
                            "type": "array",
                            "description": "The ID of variation.",
                            "items": {
                              "type": "string"
                            }
                          },
                          "variationTitle": {
                            "type": "array",
                            "description": "The title of variation.",
                            "items": {
                              "type": "string"
                            }
                          },
                          "selectionId": {
                            "type": "array",
                            "description": "The ID of selection.",
                            "items": {
                              "type": "string"
                            }
                          },
                          "selectionTitle": {
                            "type": "array",
                            "description": "The title of selection.",
                            "items": {
                              "type": "string"
                            }
                          },
                          "stockStatus": {
                            "type": "string",
                            "enum": [
                              "inStock",
                              "outOfStock"
                            ],
                            "description": "Current stock status of the variant."
                          },
                          "stockQuantity": {
                            "type": "integer",
                            "description": "Current stock quantity of the variant."
                          },
                          "media": {
                            "type": "array",
                            "description": "Details of variant media files. Currently variant has a maximum of one media file.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "The ID of media file."
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "image"
                                  ],
                                  "description": "Type of media file."
                                },
                                "url": {
                                  "type": "string",
                                  "description": "The URL of media file.\n(e.g., https://dmih5ui1qqea9.cloudfront.net/pictures_large/Camiseta6855_cobalt-blue-t-shirt.jpg)"
                                }
                              }
                            }
                          },
                          "priceData": {
                            "type": "object",
                            "description": "Details of the price information for the variant.",
                            "properties": {
                              "currency": {
                                "type": "string",
                                "enum": [
                                  "TRY",
                                  "USD",
                                  "EUR"
                                ],
                                "description": "Currency of the variant."
                              },
                              "price": {
                                "type": "string",
                                "description": "Unit price of the variant."
                              }
                            }
                          },
                          "primary": {
                            "type": "boolean",
                            "description": "Represents the primary variant. Only one variant can be primary."
                          }
                        }
                      }
                    },
                    "options": {
                      "type": "array",
                      "description": "List of options of the product.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The ID of option."
                          },
                          "title": {
                            "type": "string",
                            "description": "The title of option."
                          },
                          "price": {
                            "type": "string",
                            "description": "The price of option."
                          }
                        }
                      }
                    },
                    "singleOption": {
                      "type": "boolean",
                      "description": "Represents whether a single option or multiple options can be selected during chekout."
                    },
                    "customListing": {
                      "type": "boolean",
                      "description": "Represents whether the listing is a custom or standard one."
                    },
                    "customNote": {
                      "type": "string",
                      "description": "Overrides the placeholder for note to seller field. Used for collecting a custom information from the buyer during checkout."
                    },
                    "placementScore": {
                      "type": "integer",
                      "minimum": 1,
                      "multipleOf": 1,
                      "description": "Placement score of the product. Products with higher values are placed first in the store."
                    },
                    "dispatchDuration": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 3,
                      "multipleOf": 1,
                      "description": "Dispatch duration in terms of days from seller to shipping company."
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-products-id",
        "description": "Returns a single product with the provided product ID."
      },
      "delete": {
        "summary": "Delete a product",
        "operationId": "delete-products-id",
        "description": "Deletes a product with the provided product ID.",
        "tags": [
          "Products"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "summary": "Update a product",
        "operationId": "put-products-id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Product",
                  "type": "object",
                  "description": "Product model.",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the product."
                    },
                    "title": {
                      "type": "string",
                      "description": "Title of the product."
                    },
                    "description": {
                      "type": "string",
                      "description": "Detailed description of the product."
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "physical",
                        "digital"
                      ],
                      "description": "Type of the product."
                    },
                    "dateCreated": {
                      "type": "string",
                      "description": "The date and time of the initial product listing. yyyy-MM-ddTHH:mm:ssZ format is used (e.g., 2022-07-21T13:24:51+0300)."
                    },
                    "dateUpdated": {
                      "type": "string",
                      "description": "The date and time of the product update. yyyy-MM-ddTHH:mm:ssZ format is used (e.g., 2022-07-21T13:24:51+0300)."
                    },
                    "url": {
                      "type": "string",
                      "description": "The URL of the product. \n(e.g., https://www.shopier.com/696547)"
                    },
                    "media": {
                      "type": "array",
                      "description": "Details of product media files.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The ID of media file."
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "image"
                            ],
                            "description": "Type of media file."
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL of media file.\n(e.g., https://dmih5ui1qqea9.cloudfront.net/pictures_large/Camiseta6855_cobalt-blue-t-shirt.jpg)"
                          },
                          "placement": {
                            "type": "integer",
                            "description": "Ranking of the media file in product pages. Returns \"1\" for the primary media file.",
                            "minimum": 1,
                            "multipleOf": 1,
                            "maximum": 5
                          }
                        }
                      }
                    },
                    "priceData": {
                      "type": "object",
                      "description": "Details of the price information.",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "enum": [
                            "TRY",
                            "USD",
                            "EUR"
                          ],
                          "description": "Currency of the product."
                        },
                        "price": {
                          "type": "string",
                          "description": "Unit price of the product."
                        },
                        "discount": {
                          "type": "boolean",
                          "description": "Represents whether there is a product based discount."
                        },
                        "discountedPrice": {
                          "type": "string",
                          "description": "Discounted price of the product."
                        },
                        "shippingPrice": {
                          "type": "string",
                          "description": "Shipping price of the product."
                        }
                      }
                    },
                    "stockStatus": {
                      "type": "string",
                      "enum": [
                        "inStock",
                        "outOfStock"
                      ],
                      "description": "Current stock status of the product."
                    },
                    "stockQuantity": {
                      "type": "integer",
                      "description": "Current stock quantity of the product."
                    },
                    "shippingPayer": {
                      "type": "string",
                      "enum": [
                        "sellerPays",
                        "buyerPays"
                      ],
                      "description": "Represents who pays for shipping during dispatch or delivery."
                    },
                    "categories": {
                      "type": "array",
                      "description": "List of categories that product belongs to.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The ID of category."
                          },
                          "title": {
                            "type": "string",
                            "description": "The title of category."
                          }
                        }
                      }
                    },
                    "variants": {
                      "type": "array",
                      "description": "List of variants of the product.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "variationId": {
                            "type": "array",
                            "description": "The ID of variation.",
                            "items": {
                              "type": "string"
                            }
                          },
                          "variationTitle": {
                            "type": "array",
                            "description": "The title of variation.",
                            "items": {
                              "type": "string"
                            }
                          },
                          "selectionId": {
                            "type": "array",
                            "description": "The ID of selection.",
                            "items": {
                              "type": "string"
                            }
                          },
                          "selectionTitle": {
                            "type": "array",
                            "description": "The title of selection.",
                            "items": {
                              "type": "string"
                            }
                          },
                          "stockStatus": {
                            "type": "string",
                            "enum": [
                              "inStock",
                              "outOfStock"
                            ],
                            "description": "Current stock status of the variant."
                          },
                          "stockQuantity": {
                            "type": "integer",
                            "description": "Current stock quantity of the variant."
                          },
                          "media": {
                            "type": "array",
                            "description": "Details of variant media files. Currently variant has a maximum of one media file.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "The ID of media file."
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "image"
                                  ],
                                  "description": "Type of media file."
                                },
                                "url": {
                                  "type": "string",
                                  "description": "The URL of media file.\n(e.g., https://dmih5ui1qqea9.cloudfront.net/pictures_large/Camiseta6855_cobalt-blue-t-shirt.jpg)"
                                }
                              }
                            }
                          },
                          "priceData": {
                            "type": "object",
                            "description": "Details of the price information for the variant.",
                            "properties": {
                              "currency": {
                                "type": "string",
                                "enum": [
                                  "TRY",
                                  "USD",
                                  "EUR"
                                ],
                                "description": "Currency of the variant."
                              },
                              "price": {
                                "type": "string",
                                "description": "Unit price of the variant."
                              }
                            }
                          },
                          "primary": {
                            "type": "boolean",
                            "description": "Represents the primary variant. Only one variant can be primary."
                          }
                        }
                      }
                    },
                    "options": {
                      "type": "array",
                      "description": "List of options of the product.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The ID of option."
                          },
                          "title": {
                            "type": "string",
                            "description": "The title of option."
                          },
                          "price": {
                            "type": "string",
                            "description": "The price of option."
                          }
                        }
                      }
                    },
                    "singleOption": {
                      "type": "boolean",
                      "description": "Represents whether a single option or multiple options can be selected during chekout."
                    },
                    "customListing": {
                      "type": "boolean",
                      "description": "Represents whether the listing is a custom or standard one."
                    },
                    "customNote": {
                      "type": "string",
                      "description": "Overrides the placeholder for note to seller field. Used for collecting a custom information from the buyer during checkout."
                    },
                    "placementScore": {
                      "type": "integer",
                      "minimum": 1,
                      "multipleOf": 1,
                      "description": "Placement score of the product. Products with higher values are placed first in the store."
                    },
                    "dispatchDuration": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 3,
                      "multipleOf": 1,
                      "description": "Dispatch duration in terms of days from seller to shipping company."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Updates a product with the provided product ID.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Title of the product."
                  },
                  "description": {
                    "type": "string",
                    "description": "Detailed description of the product."
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "physical",
                      "digital"
                    ],
                    "description": "Type of the product."
                  },
                  "media": {
                    "type": "array",
                    "description": "Details of product media files. There can be a maximum of 5 media files.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "image"
                          ],
                          "description": "Type of media file."
                        },
                        "url": {
                          "type": "string",
                          "description": "he URL of media file. Formats supported: jpg, jpeg, png, bmp."
                        },
                        "placement": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 5,
                          "multipleOf": 1,
                          "description": "Ranking of the media file in product pages. Send \"1\" for the primary media file."
                        }
                      }
                    }
                  },
                  "priceData": {
                    "type": "object",
                    "description": "Details of the price information.",
                    "properties": {
                      "price": {
                        "type": "string",
                        "description": "Unit price of the product."
                      },
                      "discount": {
                        "type": "boolean",
                        "description": "Represents whether there is a product based discount."
                      },
                      "discountedPrice": {
                        "type": "string",
                        "description": "Discounted price of the product."
                      },
                      "shippingPrice": {
                        "type": "string",
                        "description": "Shipping price of the product."
                      }
                    }
                  },
                  "stockQuantity": {
                    "type": "integer",
                    "description": "Stock quantity of the product."
                  },
                  "shippingPayer": {
                    "type": "string",
                    "enum": [
                      "sellerPays",
                      "buyerPays"
                    ],
                    "description": "Represents who pays for shipping during dispatch or delivery."
                  },
                  "categories": {
                    "type": "array",
                    "description": "List of categories that product belongs to.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "categoryId": {
                          "type": "string",
                          "description": "The ID of category."
                        }
                      }
                    }
                  },
                  "variants": {
                    "type": "array",
                    "description": "List of variants of the product.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "selectionId": {
                          "type": "array",
                          "description": "The ID of selection.",
                          "items": {
                            "type": "string"
                          }
                        },
                        "stockQuantity": {
                          "type": "integer",
                          "description": "Stock quantity of the variant."
                        },
                        "media": {
                          "type": "array",
                          "description": "Details of variant media files. Currently there can be a maximum of 1 media file.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "image"
                                ],
                                "description": "Type of media file."
                              },
                              "url": {
                                "type": "string",
                                "description": "The URL of media file. Formats supported: jpg, jpeg, png, bmp."
                              }
                            }
                          }
                        },
                        "priceData": {
                          "type": "object",
                          "description": "Details of the price information for the variant.",
                          "properties": {
                            "currency": {
                              "type": "string",
                              "description": "Currency of the variant.",
                              "enum": [
                                "TRY",
                                "USD",
                                "EUR"
                              ]
                            },
                            "price": {
                              "type": "string",
                              "description": "Unit price of the variant."
                            }
                          }
                        },
                        "primary": {
                          "type": "boolean",
                          "description": "Represents the primary variant. Only one variant can be primary."
                        }
                      }
                    }
                  },
                  "options": {
                    "type": "array",
                    "description": "List of options of the product. There can be a maximum of 3 options.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "optionId": {
                          "type": "string",
                          "description": "The ID of option."
                        },
                        "optionTitle": {
                          "type": "string",
                          "description": "The title of option."
                        },
                        "optionPrice": {
                          "type": "string",
                          "description": "The price of option."
                        }
                      }
                    }
                  },
                  "singleOption": {
                    "type": "boolean",
                    "description": "Represents whether a single option or multiple options can be selected during chekout."
                  },
                  "customListing": {
                    "type": "boolean",
                    "description": "Represents whether the listing is a custom or standard one."
                  },
                  "customNote": {
                    "type": "string",
                    "description": "Overrides the placeholder for note to seller field. Used for collecting a custom information from the buyer during checkout."
                  },
                  "placementScore": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Placement score of the product. Products with higher values are placed first in the store."
                  },
                  "dispatchDuration": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 3,
                    "multipleOf": 1,
                    "description": "Dispatch duration in terms of days from seller to shipping company."
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Products"
        ]
      }
    },
    "/categories": {
      "get": {
        "summary": "List all product categories",
        "tags": [
          "Categories"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "title": "Category",
                    "type": "object",
                    "description": "Category model.",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The ID of the product category."
                      },
                      "title": {
                        "type": "string",
                        "description": "The title of the product category."
                      },
                      "placement": {
                        "type": "integer",
                        "minimum": 1,
                        "multipleOf": 1,
                        "description": "Ranking of the product category in the shop. Returns \"1\" for the first category, increments accordingly."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-categories",
        "description": "Returns a list of product categories with the provided limit, paging and sorting. By default, categories are returned in sorted order according to their placement in storefront.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "multipleOf": 1,
              "default": 10
            },
            "description": "The maximum number of items to be returned in result set."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Current page of the collection."
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "asc"
            },
            "in": "query",
            "name": "sort",
            "description": "Sort results by their placements in storefront."
          }
        ]
      },
      "post": {
        "summary": "Create a product category",
        "operationId": "post-categories",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Category",
                  "type": "object",
                  "description": "Category model.",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the product category."
                    },
                    "title": {
                      "type": "string",
                      "description": "The title of the product category."
                    },
                    "placement": {
                      "type": "integer",
                      "minimum": 1,
                      "multipleOf": 1,
                      "description": "Ranking of the product category in the shop. Returns \"1\" for the first category, increments accordingly."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Creates a new product category.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "The title of the product category."
                  },
                  "placement": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Ranking of the product category in the shop. Accepts values in accordance with the number of categories in the shop. When an allocated  placement value is send, following placement values shift."
                  }
                },
                "required": [
                  "title"
                ]
              }
            }
          }
        },
        "tags": [
          "Categories"
        ]
      }
    },
    "/categories/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Specify the category ID to retrieve the category."
        }
      ],
      "get": {
        "summary": "Get a product category",
        "tags": [
          "Categories"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Category",
                  "type": "object",
                  "description": "Category model.",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the product category."
                    },
                    "title": {
                      "type": "string",
                      "description": "The title of the product category."
                    },
                    "placement": {
                      "type": "integer",
                      "minimum": 1,
                      "multipleOf": 1,
                      "description": "Ranking of the product category in the shop. Returns \"1\" for the first category, increments accordingly."
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-categories-id",
        "description": "Returns a single product category with the provided category ID."
      },
      "delete": {
        "summary": "Delete a product category",
        "operationId": "delete-categories-id",
        "description": "Deletes a product category with the provided category ID.",
        "tags": [
          "Categories"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "summary": "Update a product category",
        "operationId": "put-categories-id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Category",
                  "type": "object",
                  "description": "Category model.",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the product category."
                    },
                    "title": {
                      "type": "string",
                      "description": "The title of the product category."
                    },
                    "placement": {
                      "type": "integer",
                      "minimum": 1,
                      "multipleOf": 1,
                      "description": "Ranking of the product category in the shop. Returns \"1\" for the first category, increments accordingly."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Updates a product category with the provided category ID.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "The title of the product category."
                  },
                  "placement": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Ranking of the product category in the shop. Accepts values in accordance with the number of categories in the shop. When an allocated  placement value is send, following placement values shift."
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Categories"
        ]
      }
    },
    "/variations": {
      "get": {
        "summary": "List all product variations",
        "tags": [
          "Variations"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "title": "Variation",
                    "type": "object",
                    "description": "Variation model.",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The ID of the product variation."
                      },
                      "title": {
                        "type": "string",
                        "description": "The title of the product variation."
                      },
                      "placement": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 2,
                        "multipleOf": 1,
                        "description": "Ranking of the product variation in the shop. Returns \"1\" for the first variation, returns \"2\" for the second variation."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-variations",
        "description": "Returns a list of product variations with the provided limit, paging and sorting. By default, variations are returned in sorted order according to their placement in storefront.",
        "parameters": []
      },
      "post": {
        "summary": "Create a product variation",
        "operationId": "post-variations",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Variation",
                  "type": "object",
                  "description": "Variation model.",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the product variation."
                    },
                    "title": {
                      "type": "string",
                      "description": "The title of the product variation."
                    },
                    "placement": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 2,
                      "multipleOf": 1,
                      "description": "Ranking of the product variation in the shop. Returns \"1\" for the first variation, returns \"2\" for the second variation."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Creates a new product variation.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "The title of the product variation."
                  }
                },
                "required": [
                  "title"
                ]
              }
            }
          }
        },
        "tags": [
          "Variations"
        ]
      }
    },
    "/variations/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Specify the variation ID to retrieve the variation."
        }
      ],
      "get": {
        "summary": "Get a product variation",
        "tags": [
          "Variations"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Variation",
                  "type": "object",
                  "description": "Variation model.",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the product variation."
                    },
                    "title": {
                      "type": "string",
                      "description": "The title of the product variation."
                    },
                    "placement": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 2,
                      "multipleOf": 1,
                      "description": "Ranking of the product variation in the shop. Returns \"1\" for the first variation, returns \"2\" for the second variation."
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-variations-id",
        "description": "Returns a single product variation with the provided variation ID."
      },
      "delete": {
        "summary": "Delete a product variation",
        "operationId": "delete-variations-id",
        "description": "Deletes a product variation with the provided variation ID.",
        "tags": [
          "Variations"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "summary": "Update a product variation",
        "operationId": "put-variations-id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Variation",
                  "type": "object",
                  "description": "Variation model.",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the product variation."
                    },
                    "title": {
                      "type": "string",
                      "description": "The title of the product variation."
                    },
                    "placement": {
                      "type": "integer",
                      "minimum": 1,
                      "maximum": 2,
                      "multipleOf": 1,
                      "description": "Ranking of the product variation in the shop. Returns \"1\" for the first variation, returns \"2\" for the second variation."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Updates a product variation with the provided variation ID.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "The title of the product variation."
                  }
                }
              }
            }
          },
          "description": ""
        },
        "tags": [
          "Variations"
        ]
      }
    },
    "/selections": {
      "get": {
        "summary": "List all product selections",
        "tags": [
          "Selections"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "title": "Selection",
                    "type": "object",
                    "description": "Selection model.",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The ID of the product selection, a subset of product variation."
                      },
                      "title": {
                        "type": "string",
                        "description": "The title of the product selection, a subset of product variation."
                      },
                      "variationId": {
                        "type": "string",
                        "description": "The ID of the related product variation."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-selections",
        "description": "Returns a list of product selections with the provided limit, paging, sorting and filters. By default, selections are returned in sorted order according to their creation order.",
        "parameters": [
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "in": "query",
            "name": "variationId",
            "description": "Filter by product variations by specifying variation ID(s)."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "multipleOf": 1,
              "default": 10
            },
            "description": "The maximum number of items to be returned in result set."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Current page of the collection."
          }
        ]
      },
      "post": {
        "summary": "Create a product selection",
        "operationId": "post-selections",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Selection",
                  "type": "object",
                  "description": "Selection model.",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the product selection, a subset of product variation."
                    },
                    "title": {
                      "type": "string",
                      "description": "The title of the product selection, a subset of product variation."
                    },
                    "variationId": {
                      "type": "string",
                      "description": "The ID of the related product variation."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Creates a new product selection.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "variationId": {
                    "type": "string",
                    "description": "The ID of the product variation."
                  },
                  "title": {
                    "type": "string",
                    "description": "The title of the product selection, a subset of product variation."
                  }
                },
                "required": [
                  "variationId",
                  "title"
                ]
              }
            }
          }
        },
        "tags": [
          "Selections"
        ]
      }
    },
    "/selections/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Specify the selection ID to retrieve the selection."
        }
      ],
      "get": {
        "summary": "Get a product selection",
        "tags": [
          "Selections"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Selection",
                  "type": "object",
                  "description": "Selection model.",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the product selection, a subset of product variation."
                    },
                    "title": {
                      "type": "string",
                      "description": "The title of the product selection, a subset of product variation."
                    },
                    "variationId": {
                      "type": "string",
                      "description": "The ID of the related product variation."
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-selections-id",
        "description": "Returns a single product selection with the provided selection ID."
      },
      "put": {
        "summary": "Update a product selection",
        "operationId": "put-selections-id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Selection",
                  "type": "object",
                  "description": "Selection model.",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The ID of the product selection, a subset of product variation."
                    },
                    "title": {
                      "type": "string",
                      "description": "The title of the product selection, a subset of product variation."
                    },
                    "variationId": {
[...]
